// @import "active_admin/mixins";
// @import "active_admin/base";

@import "active_material";

.admin-index-image {
  height: 50px !important;
  width: 50px !important;
}

.admin-show-song {
  float: right;
  width: 50%;
}

.admin-show-song-title {
  vertical-align: middle;
  position: relative;
  top: 16px;
}