@import "bootstrap";
@import 'welcome';

body {
  background-color: #e8e8e8;
}

nav {
  background-color: #333;
}

.navbar-brand {
  background-color: #f50;
  padding: 0 20px;
}

section {
  background-color: #fff;
}
